<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 collapsible__heading>Item 1
        </h2>
        <svg class="iconicon--white collapsible__chevron ">
            <use xlink:href="#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit maiores veritatis rerum,
        illum
        nesciunt
        dolor!
    </div>
</div>
<script src="js/main.js">
</script>