<article class="grid grid--1x2">
    <div>
        <a href="#" class="link-arrow">Learn More</a>
        <span class="icon-container ">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress">
                </use>
            </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque distinctio voluptate
            praesentium
            aliquam expedita dolorem est adipisci excepturi recusandae?</p>
    </div>
</article>