<div class="card testimonial">
    <div class="grid grid--1X2">
        <div class="testimonial__image">
            <img src=" images/testimonial.jpg" alt="Happy smiling customer">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>

        <blockquote class="quote">
            <p class="quote__text">
                Did you know Tetrastacks is blessed with super intelligent programmers that will execute your
                software projects seamlessly?
            </p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <span class="icon-container">
                            <svg class="icon icon--primary quote__line ">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Olanrewaju Oladokun</h3>
                        <p class="quote_organization">TetraStacks
                        </p>
                    </div>
                </div>
            </footer>
        </blockquote>

    </div>
</div>
</div>